body {
    background-image: url('/Wireframes/images.png/background-contact.png');
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 150px;
}

/* Nav Bar */

span {
    color: black;
    background-color: #ff9900;
}

.container, .menu {
    height: 100px;
    width: 100px;
    position: fixed;
    /* margin: auto; */
    top: 5em;
    bottom: 0;
    left: 25px;
    right: 0;
    cursor: pointer;
}

.menu {
    z-index: -1;
    transform:scale(0.9);
}

.toggle {
    height: 0px;
    width: 100px;
    border-bottom: 40px solid #ff9900;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
}

.toggle::before {
    content: normal;
    position: absolute;
    height: 0px;
    width: 40px;
    border-top: 30px solid #ff9900;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 30px;
    left: -15px;
}

.item {
    height: 10px;
    width: 90px;
    border-bottom: 30px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
    transition: 1s;
}

.item::before {
    content: normal;
    position: absolute;
    height: 0px;
    width: 40px;
    border-top: 30px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 29px;
    left: -15px;
}

#add{
    font-size: 2rem;
    color: #fff;
    position: relative;
    top: 12px;
    left: 5px;
    transition: 1s;
}

a>i {
    color: #d2d2d2;
    font-size: 1.2rem;
}

a {
    position: relative;
    top: 20px;
    left: 9px;
}

i:hover {
    color: #ffc061;
    transform: scale(1.3);
    transition: 0.5s;
}

/* Text */
h1 {
    color: white;
    font-size: 140px;
    position: absolute;
    top: 5%;
    left: 45%;
}
.devontae-ferguson {
    position: absolute;
    top: 8px;
    right: 16px;
    color: #633d04;
    font-family: 'Smooch', cursive;
    font-size: 30px;
}

/* Form */
.form-field{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
    position: absolute;
    top: 25em;
    right: 50px;
    
}
.form-field h3{
	background: #633d04;
	padding: 20px 0;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="url"],
.form-field textarea,
.form-field select {
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.form-field input[type="text"]:focus,
.form-field input[type="email"]:focus,
.form-field input[type="url"]:focus,
.form-field textarea:focus,
.form-field select:focus {
    box-shadow: 0 0 5px #633d04;
	padding: 3%;
	border: 1px solid #633d04;
} 

.form-field input[type="submit"],
.form-field input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #633d04;
	border-bottom: 2px solid #ff9900;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.form-field input[type="submit"]:hover,
.form-field input[type="button"]:hover {
	background: #633d04;
}

form{
    padding-bottom: 25px;
}

#contact-photo {
    position: absolute;
    height: 550px;
    width: 485px;
    bottom: 20px;
    left: 75px;
    top: 40vh;
    border-radius: 5%;
}

/* Socials */

.socials {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 47%;
    }
    
    .github { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    .linkedin { 
        grid-area: 2 / 1 / 3 / 2; 
    }
    .codepen { 
        grid-area: 3 / 1 / 4 / 2; 
    }

    #github, #linkedin, #codepen {
        max-width: 24%;
        justify-content: center;
        align-items: center;
    }

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
  }



  @media screen and (min-width: 1500px) and (max-width: 2150px) {
    #contact-photo {
        position: absolute;
        height: 550px;
        width: 485px;
        bottom: 20px;
        left: 75px;
        top: 25vh;
        border-radius: 5%;
    }
  }
  @media screen and (min-width: 1234px) and (max-width: 1499px) {
    #contact-photo {
        position: absolute;
        height: 650px;
        width: 445px;
        bottom: 20px;
        left: 55px;
        top: 17em;
        border-radius: 5%;
    }
    .form-field{
        font: 95% Arial, Helvetica, sans-serif;
        max-width: 450px;
        margin: 10px auto;
        padding: 16px;
        background: #8f2626;
        position: absolute;
        top: 25em;
        right: 5px;
            
        }
  }
  @media screen and (min-width: 600px) and (max-width: 1233px) {
    #contact-photo {
        position: absolute;
        height: 420px;
        width: 350px;
        bottom: 20px;
        left: 75px;
        top: 24vh;
        border-radius: 5%;
    }
    .socials {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        justify-content: center;
        top: 20%;
        left: 85%;
        }
    #github, #linkedin, #codepen {
        max-width: 50%;
        justify-content: center;
        align-items: center;
        }
    .form-field{
        font: 95% Arial, Helvetica, sans-serif;
        max-width: 100px;
        margin: 10px auto;
        padding: 16px;
        background: #F7F7F7;
        position: absolute;
        top: 25em;
        right: 5px;
            
        }
        h1 {
            color: white;
            font-size: 70px;
            position: absolute;
            top: 1%;
            left: 40%;
        }
  }
  @media screen and (max-width: 600px){
    h1 {
        color: white;
        font-size: 70px;
        position: absolute;
        top: 1%;
        left: 40%;
    }
    #contact-photo {
        position: absolute;
        height: 320px;
        width: 250px;
        bottom: 20px;
        left: 25px;
        top: 30vh;
        border-radius: 5%;
    }
    .socials {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
        justify-content: center;
        top: 20%;
        left: 85%;
        }
        #github, #linkedin, #codepen {
            max-width: 50%;
            justify-content: center;
            align-items: center;
            }
        .form-field{
            font: 95% Arial, Helvetica, sans-serif;
            max-width: 100px;
            margin: 10px auto;
            padding: 16px;
            background: #F7F7F7;
            position: absolute;
            top: 25em;
            right: 5px;
                    
                }
  }
