body {
    background-image: url('/Wireframes/images.png/home.png');
    /* background: black; */
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img {
    border-radius: 50%;
}

.home-pic {
  display: flex;
  justify-content: ;
  margin: auto;
  height: 700px;

}

.devontae {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #ff9900;
    font-size: 200px;
    font-family: 'Smooch', cursive;
}

.devontae-ferguson {
    position: absolute;
    top: 8px;
    right: 16px;
    color: #ff9900;
    font-family: 'Smooch', cursive;
    font-size: 30px;
}

.home-text {
    display: flex;
    color: #d2d2d2;
    width: 30em;
    padding: 5px;
    padding-right: -20em;
    margin-top: 15em;
    margin-bottom: 15em;
    margin-right: 10em;
    float: right;
    border: none;
    font-family: 'Smooch', cursive;
    font-size: 20px;
    align-self: flex-end;
}
/* nav */
.container, .menu {
    height: 200px;
    width: 200px;
    position: fixed;
    margin: auto;
    top: 20px;
    bottom: 0;
    left: 25px;
    right: 0;
    cursor: pointer;
}

#menu {
    z-index: -1;
    transform:scale(0.9);
}

/* #item-home {
    z-index: 0;
}
#item-projects {
    z-index: 1;
}
#item-aboutme {
    z-index: 2;
}
#item-contact {
    z-index: 3;
} */

.toggle {
    height: 0px;
    width: 100px;
    border-bottom: 50px solid #ff9900;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
}

.toggle::before {
    content: normal;
    position: absolute;
    height: 0px;
    width: 40px;
    border-top: 30px solid #ff9900;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 30px;
    left: -15px;
}

.item {
    height: 0px;
    width: 100px;
    border-bottom: 38px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
    transition: 1s;
}

.item::before {
    content: normal;
    position: absolute;
    height: 0px;
    width: 40px;
    border-top: 30px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    top: 29px;
    left: -15px;
}

#add{
    font-size: 2rem;
    color: #fff;
    position: relative;
    top: 12px;
    left: 5px;
    transition: 1s;
}

a>i {
    color: #d2d2d2;
    font-size: 1.2rem;
}

a {
    position: absolute;
    top: 20px;
    left: 9px;
}

i:hover {
    color: #ffc061;
    transform: scale(1.3);
    transition: 0.5s;
}

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
}